/* Importar fuente OSWALD */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

h1,h2,h3,header {
    font-family: 'Oswald', sans-serif;
}

.bg-primary {
    background-color: #3C1642 !important;
}

.text-primary {
    color: #3C1642 !important;
}

.text-secondary {
    color: #086375 !important;
}

header {
    height: auto;
    padding: 15px 0;
}

.logo {
    width: 100%;
    max-width: 100px;
}

.nav {
    list-style: none;
    padding: 0;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
}

/* Estilo para resaltar el botón de toggle */
.navbar-toggler {
    border: 1px solid white;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: transparent;
    color: white;
}

.navbar-toggler:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Estilo para el icono de lenguaje */
.language-icon {
    color: white;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

footer {
    padding-top: 30px;
}

.iconos {
    padding: 20px;
    font-size: 32px;
}

/* Media querys responsive */
@media (max-width: 768px) {
    .logo {
        max-width: 80px;
        margin-left: 5px;
    }

    .nav-item {
        margin-right: 0;
        margin-left: 20px;
    }

    .language-icon {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
        margin-left: 20px;
    }

    footer {
        padding-top: 20px;
    }
}
