    /* Importar fuente OSWALD */
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
    
       /* CSS Reset */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Open Sans', sans-serif;
        }

        .font-oswald {
            font-family: 'Oswald', sans-serif;
        }

        .bg-primary {
            background-color: #3C1642 !important;
        }

        .text-primary {
            color: #3C1642 !important;
        }

        .text-secondary {
            color: #086375 !important;
        }

        header {
            height: 12%;
            width: 100%;
        }

        .nav {
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 0;
        }

        .nav-item {
            margin-right: 15px;
        }

        .nav-link {
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
            font-family: 'Oswald', sans-serif;
        }

        .language-icon {
            color: white;
            font-size: 20px;
            margin-bottom: 60px;
        }

        a {
            text-decoration: none;
            color: white;
            text-transform: uppercase;
        }

        footer {
            padding-top: 30px;
        }

        .iconos {
            padding: 20px;
            font-size: 32px;
        }